@import url(http://fonts.googleapis.com/css?family=Waiting+for+the+Sunrise|Open+Sans:400italic,700italic,700,400|Raleway:500,600,400);

input:required:invalid, input:focus:invalid {
  -moz-box-shadow: none;
}

#name{
    width: 85%;
    padding: .5em;
    border: 2px #6FBEF3 solid;
}

.container2{
    height: auto;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-right: auto;
    margin-left: 4em;
    padding-top: 1.5em;
    font-size: 1.5em;
}

#n1{
    height: 1.3em;
    font-size: 1em;
    margin: 0;
    padding: 0;
}

#form1{
    height: 1.3em;
    margin: 0em;
}

#main{
    height: auto;
    margin-top: 140px;
    padding-left: 4em;
    padding-top: 1.5em;
    font-size: 1.5em;
}

#desc{
    margin-top: .2em;
    margin-bottom: 1em;
    padding: .5em;
    width: 85%;
    height: 10em;
    border: solid 2px #6FBEF3;
    font-size: .8em;
}

.bx-wrapper{
   height: 4em;
}

#title{
    font-family: 'Raleway', sans-serif;
	text-align: center;
	font-size: 1.2em;
	margin-top: 5em;
}

h1 {
	font-size: 50px;
	text-align: center;
}

h2 {
    font-family: 'Raleway', sans-serif;
	text-align: center;
	margin-bottom: 30px;
	letter-spacing: 1px;
}

h3{
    font-family: 'Raleway', sans-serif;
    color: black;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    line-height: 1.7em;
    color: #7f8c8d;
    font-size: 13px;
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
    color: #34495e;
}

.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

/*
 * -- LAYOUT STYLES --
 */
.l-box {
    padding: 1em;
}

.l-box-lrg {
    padding: 2em;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.is-center {
    text-align: center;
}


/*
 * -- MENU STYLES --
 */

.home-menu {
    padding: 0.5em;
    text-align: center;
    box-shadow: 0 1px 1px rgba(0,0,0, 0.10);
}
.home-menu {
    background: #2d3e50;
}
.pure-menu.pure-menu-fixed {
    border-bottom: none;
    z-index: 4;
}

.home-menu .pure-menu-heading {
    color: white;
    font-weight: 400;
    font-size: 120%;
}

.pure-menu-horizontal.pure-menu-scrollable .pure-menu-list {
  padding-right: 2em;
}

.home-menu .pure-menu-selected a {
    color: white;
}

.home-menu a {
    color: #6FBEF3;
}
.home-menu li a:hover,
.home-menu li a:focus {
    background: none;
    border: none;
    color: #AECFE5;
}


/*
 * -- MAIN TITLE STYLE --
 */

.splash-container {
    background: #1f8dd6;
    z-index: 1;
    overflow: hidden;
    width: 100%;
    height: 88%;
    top: 0;
    left: 0;
    position: fixed !important;
}

.splash {
    width: 80%;
    height: 50%;
    margin: auto;
    position: absolute;
    top: 100px; left: 0; bottom: 0; right: 0;
    text-align: center;
    text-transform: uppercase;
}

.splash-head {
    font-size: 20px;
    font-weight: bold;
    color: white;
    border: 3px solid white;
    padding: 1em 1.6em;
    font-weight: 100;
    border-radius: 5px;
    line-height: 1em;
}

.splash-subhead {
    color: white;
    letter-spacing: 0.05em;
    opacity: 0.8;
}

/*
 * -- CONTENT STYLES --
 */
.content-wrapper {
    /* These styles are required for the "scroll-over" effect */
    position: absolute;
    top: 87%;
    width: 100%;
    min-height: 12%;
    z-index: 2;
    background: white;

}

.content-head {
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin: 2em 0 1em;
}

.content-head-ribbon {
    color: white;
}

.content-subhead {
    color: #1f8dd6;
}
.content-subhead i {
    margin-right: 7px;
}

.ribbon {
    background: #2d3e50;
    color: #aaa;
}

.footer {
    background: #111;
}

/*
 * -- TABLET (AND UP) MEDIA QUERIES --
 */
@media (min-width: 48em) {
    body {
        font-size: 16px;
    }
    .content {
        padding: 1em;
    }

    .home-menu {
        text-align: left;
    }
        .home-menu ul {
            float: right;
        }

    .splash {
        width: 50%;
        height: 50%;
    }

    .splash-head {
        font-size: 250%;
    }
    .l-box-lrg {
        border: none;
    }

}

@media (min-width: 78em) {
    /* We increase the header font size even more */
    .splash-head {
        font-size: 300%;
    }
}

#catchLine {
	width: 100%;
	border-bottom: 1px solid #FFFFFF;
	border-top: 1px solid #FFFFFF;
	letter-spacing: 5px;
	text-align: center;
	line-height: 35px;
	margin-bottom: 40px;
}

#map {
    height:50em;
    overflow: hidden;
    margin-top: 2em;
    position: relative;
}

#mainContainer {
	width: 90%;
    height: 90%;
	margin-left: auto;
	margin-right: auto;
}

#submit{
    width: 6em;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
}

.profile{
    height: auto;
    margin-top: 140px;
    padding-left: 4em;
    padding-top: 1.5em;
    font-size: 1.5em;
}
.bxslider{
    margin-top: -.1em;
}
.bx-wrapper{
    height: 1em;
}
#profilepic{
    font-size: .7em;
    padding-top: .5em;
    padding-bottom: 1em;
    width: 85%;
    height: auto;
    text-align: center;
}

#seats {
	width: 700px;
	margin:auto;
	border-collapse: collapse;
}

#seats tr {
	line-height: 115px;
	border-bottom: 1px solid #FFFFFF;
	border-top: 1px solid #FFFFFF;
}

#seats td {
	letter-spacing: 5px;
	text-align: center;
}

#seats td:hover {
	background: #FFFFFF;
	color: #32070e;
	font-weight: bold;
}

.cd-user-modal {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s 0, visibility 0 0.3s;
}
 
.cd-user-modal.is-visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s 0, visibility 0 0;
}

.main-nav{
    width: 10em;
    margin: auto;
}