@import url(http://fonts.googleapis.com/css?family=Waiting+for+the+Sunrise|Open+Sans:400italic,700italic,700,400|Raleway:500,600,400);

body {
	background: url(./redStripes.png);
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	color: white;
}
input:required:invalid, input:focus:invalid {
  -moz-box-shadow: none;
}

#name{
    width: 80%;
    border: 2px white solid;
}

#n1{
    height: 1.3em;
    font-size: 1em;
    margin: 0;
    padding: 0;
}

form{
    height: 1.3em;
    margin: 0em;
}

a.btn {
	display: inline-block;
	color: #666;
    font-family: 'Raleway', sans-serif;
	background-color: #eee;
    margin-top: .25em;
	padding: 10px 30px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid rgba(0,0,0,0.3);
	border-bottom-width: 3px;
}

#shows{
    color:#260000;
    height: auto;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: 2.5px solid white;
    background-color: rgba(255, 255, 255, 0.4);
}

#admins{
    color:#260000;
    height: auto;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    padding-top: .5em;
    padding-bottom: 4em;
    text-align: center;
    border: 2.5px solid white;
    background-color: rgba(255, 255, 255, 0.4);
}

#title{
    color:white;
    font-family: 'Raleway', sans-serif;
	text-align: center;
	font-size: 1.2em;
	text-align: center;
}

h1 {
	font-family: 'Waiting for the Sunrise', cursive;
	font-size: 50px;
	text-align: center;
    color:white;
}

h2 {
    font-family: 'Raleway', sans-serif;
	text-align: center;
	margin-bottom: 30px;
	letter-spacing: 1px;
}

h3{
    font-family: 'Raleway', sans-serif;
    color: black;
}

#catchLine {
	width: 100%;
	border-bottom: 1px solid #FFFFFF;
	border-top: 1px solid #FFFFFF;
	letter-spacing: 5px;
	text-align: center;
	line-height: 35px;
	margin-bottom: 40px;
}

#mainContainer {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}

@media only screen and (max-width: 950px) {
  #mainContainer{
    width:90%;
  }
  ul#dropdown li{
    font-size: .9em;
    padding: 0;
  }
}

#dropdown {
 float: left;
 list-style-type: none;
 margin-left: 2.6em;
}

a{
    text-decoration:none;
    color: white;
}

#login{
   width: 40em;
   margin: auto;
   align-content: auto;
   border: 1px solid white;
}

#register{
   margin-left: auto;
    margin-right: auto;
    padding-left: 5em;
    padding-right: 3em;
    padding-bottom: 2em;
   width: 35em;
    border: 2px solid white;
    margin-top: 10%;
}

#submit{
    width: 6em;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
}

ul#dropdown li {
  white-space:normal;
  display: inline-block;
  position: relative;
  padding: 15px 20px;
  height: 60px;
  letter-spacing: 5px;
  padding-left: 25px;
  padding-right: 25px;
  text-align: center;
  width: 7em;
  margin-bottom: 5px;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
ul#dropdown li:hover {
  background: #FFFFFF;
  color: #32070e;
  font-weight: bold;
}

ul#dropdown li:hover a{
  color: #32070e;
  font-weight: bold;
}

ul#dropdown li ul {
  padding: 0;
  position: absolute;
  top: 90px;
  left: 0;
  width: 100%;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transiton: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -transition: opacity 0.2s;
}
ul#dropdown li ul li { 
  background: #555; 
  display: block; 
  color: #fff;
  height: 2em;
  width: auto;
  text-shadow: 0 -1px 0 #000;
}
ul#dropdown li ul li:hover { background: #666; }
ul#dropdown li:hover ul {
  display: block;
  opacity: 1;
  visibility: visible;
}

.profile{
    border: 1px solid white ;
    height: 20em;
    margin-top: 140px;
    padding-left: 4em;
    padding-top: 1.5em;
    font-size: 1.5em;
}
#profilepic{
    font-size: .7em;
    margin-top: 1em;
    width: 80%;
    height: 10em;
    border: 1px solid white ; 
}

#seats {
	width: 700px;
	float: right;
	border-collapse: collapse;
}

#seats tr {
	line-height: 115px;
	border-bottom: 1px solid #FFFFFF;
	border-top: 1px solid #FFFFFF;
}

#seats td {
	letter-spacing: 5px;
	text-align: center;
}

#seats td:hover {
	background: #FFFFFF;
	color: #32070e;
	font-weight: bold;
}

.cd-user-modal {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s 0, visibility 0 0.3s;
}
 
.cd-user-modal.is-visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s 0, visibility 0 0;
}


<!--find.html-->

.flip-container {
	perspective: 2000;
}
.flip-container:hover .flipper, .flip-container.hover .flipper {
    transform: rotateY(180deg) scale(1.2);
    z-index: 2;
}

.flip-container, .front, .back {
	width: 200px;
	height: 16em;
    float: left;
    position: relative;
}

/* flip speed goes here */
.flipper {
	transition: 1.2s;
	transform-style: preserve-3d;
	width: 100%;
    height: 100%;
    position: absolute;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;
	position: absolute;
    padding: 1em;
}

.front {
	transform: rotateY(0deg);
    margin-left: 1.7em;
    background: rgba(148,146,146,1);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
    margin-left: -1.7em;
    background: #E4DEE0;
}
