            table{
                border: none;
                padding: 0px;
                margin: 0px;
            }

        

        
            tr{
                height: 100px;
                border: 1px solid black;
            }

        

        
            td{
                width: 100px;
                text-align: center;
                vertical-align: middle;
                border: inherit;
                padding: 4px;
                cursor: pointer;

                
                -webkit-touch-callout: none;
                -webkit-user-select: none;
                -khtml-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
…
            }

        
            tr:first-of-type{
                height: 20px;
                border: none;
            }

        
            tr:first-of-type td{
                background-color: white;
            }

        
            tr > td:first-of-type{
                width: 20px;
                border: none;
                background-color: white;
            }

        

        
            td:hover{
                opacity: .7;
…
            }

        
            td[data-state='0']{ background-color: green; }
            td[data-state='1']{ background-color: black; }
            td[data-state='2']{ background-color: green; }

        