@import url(http://fonts.googleapis.com/css?family=Waiting+for+the+Sunrise|Open+Sans:400italic,700italic,700,400|Raleway:500,600,400);

p{
    padding-bottom: .8em;
    font-size: .8em;
    text-align: center;
}

#mainMenu{
    height: 100%;
    font-size: 1.15em;
    list-style: none;
    text-align: center;
}

.header{
    color: dimgray;
}

h1 {
    font-family: 'Raleway', sans-serif;
	letter-spacing: 1px;
    color: black;
    border: solid 2px black;
    margin-right: .5em;
}


table{
    border: none;
    padding: 0px;
    margin: 0px;
}
        
tr{
    height: 100px;
    border: 1px solid white;
}

td{
    width: 100px;
    color:whitesmoke;
    text-align: center;
    vertical-align: middle;
    border: inherit;
    padding: 4px;
    cursor: pointer;
                
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
…
}

tr:first-of-type{
    height: 20px;
    border: none;
}
        
tr:first-of-type td{
    background-color: white;
    color: dimgray;
}
        
tr > td:first-of-type{
    width: 20px;
    border: none;
    background-color: white;
    color: dimgray;
}

                
td:hover{
    opacity: .7;
…
}


td[data-state='0']{ background-color:#617798; }
td[data-state='1']{ background-color: black; color:black;}
td[data-state='2']{ background-color:#617798; }


input{ 
    padding: 9px; 
    border: solid 1px #E5E5E5; 
    outline: 0; 
    font: normal 13px/100% Verdana, Tahoma, sans-serif; 
    width: 5em; 
    background: #FFFFFF; 
} 
   
input:hover, textarea:hover, 
input:focus, textarea:focus { 
    border-color: #C9C9C9; 
} 
   
.form label { 
    margin-left: 10px; 
    color: #999999; 
} 
   
button { 
    width: auto; 
    padding: 9px 15px; 
    margin-top: .5em;
    background: #617798; 
    border: 0; 
    font-size: 14px; 
    color: #FFFFFF; 
}

#makeHouseController{
    float: left;
    width: 4em;
    color:dimgray;
    margin: auto;
    padding: 1em;
    height: 100%;
}

#housePlot{
    width:100%;
    height: 100%;
    padding-top: 1em;
}

#mainMenu li{
    padding-top: 1em;
}

a{
  color: #0060B6;
  text-decoration: none;  
}

a:hover 
{
    color:#00A0C6; 
    text-decoration:none; 
    cursor:pointer;  
}